@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

body::-webkit-scrollbar {
  width: 5px;
  background-color: #f5f5f5;
}

body::-webkit-scrollbar-thumb {
  background-color: #000;
  border-radius: 20px;
}

.icon-container {
  width: 70px;
  display: flex;
  justify-content: space-between;
}

.master-container {
  display: flex;
}

.img-slides {
  width: 100%;
  height: 50vh;
}

.panel {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: white;
  box-shadow: 0 1em 2em rgba(0, 0, 0, 0.05);
}

.panel a {
  width: 25%;
  padding: 1em 20px;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
  color: #000;
}

.panel a:hover {
  transition: 0.4s;
  background-color: #8e8e8e;
  color: #ffffff;
}

.background-slides-1 {
  background-image: url('../img/IMG_0225.png');
  background-size: 100%;
  background-position: 50%;
  background-repeat: no-repeat;
}

.background-slides-2 {
  background-image: url('../img/IMG_0222.png');
  background-size: 100%;
  background-repeat: no-repeat;
}

.background-slides-3 {
  background-image: url('../img/IMG_0224.png');
  background-size: 100%;
  background-repeat: no-repeat;
}

body {
  background: whitesmoke;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

img {
  width: 200px;
  height: 200px;
}

header,
footer {
  flex-basis: 100%;
}

header {
  top: 0;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 3rem;
}

.search_container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45vw;
  height: auto;
}

.search_title {
  font-size: 22px;
  font-weight: 900;
  text-align: center;
}

.search_input {
  width: 100%;
  padding: 12px 24px;
  background-color: transparent;
  transition: transform 250ms ease-in-out;
  font-size: 14px;
  line-height: 18px;
  color: #575756;
  background-color: transparent;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-position: 95% center;
  border-radius: 50px;
  border: 1px solid #575756;
  transition: all 250ms ease-in-out;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

.search_input::placeholder {
  color: rgba(87, 87, 86, 0.8);
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.search_input:hover,
.search_input:focus {
  padding: 12px 0;
  outline: 0;
  border: 1px solid transparent;
  border-bottom: 1px solid #575756;
  border-radius: 0;
  background-position: 100% center;
}

nav.full {
  font-weight: bold;
  background: #111;
  color: white;

}

.card {
  position: relative;
  height: 300px;
  box-shadow: 0px 1px 13px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 120ms;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
}

.card::after {
  content: "Comprar";
  padding-top: 1.25em;
  padding-left: 1.25em;
  position: absolute;
  left: 0;
  bottom: -60px;
  background: black;
  color: #fff;
  height: 2.5em;
  width: 94%;
  transition: all 200ms;
  font-weight: 600;
  text-transform: uppercase;
  opacity: 0;
}

.card .title {
  font-size: 0.9em;
  position: absolute;
  left: 0.625em;
  bottom: 1.875em;
  font-weight: 400;
  color: #000;
}

.card .price {
  font-size: 0.9em;
  position: absolute;
  left: 0.625em;
  bottom: 0.625em;
  color: red;
}

.card:hover::after {
  bottom: 0;
  opacity: 1;
}

.card:active {
  transform: scale(0.98);
}

.card:active::after {
  content: "No carrinho!";
  height: 3.125em;
}

.text {
  max-width: 55px;
}

.image {
  background: rgb(241, 241, 241);
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}

.card-container {
  display: flex;
  justify-content: space-between;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5em;
  height: 90vh;
  padding: 20px;
}

footer {
  background-color: #ffffff;
  width: 100%;
  height: 50px;
  text-align: center;
  align-items: center;
  align-content: center;
}

header img {
  width: 200px;
  height: 73px;
  float: left;
  display: flex;
}

.cart-icon {
  font-size: 24px;
  color: #000;
}

.profile-icon {
  font-size: 24px;
  color: #000;
}

/*login page*/
/*----------------------------------------------------------------------------------------------------------*/
.login {
  color: #000;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: block;
  font-weight: bold;
  font-size: x-large;
}

.carta {
  display: flex;
  height: 65vh;
  width: 30vw;
  flex-direction: column;
  background: #e3e3e3;
  box-shadow: 16px 16px 32px #c8c8c8,
    -16px -16px 32px #fefefe;
  border-radius: 8px;
}

.content-singup {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 3rem 3rem;
}

.content-article-singup {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.back-icon{
  color: #000;
}

.login-title {
  height: 10vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-title-icon {
  margin-top: 3.5rem;
  height: 10vh;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  margin-left: 3rem;
}

.login-content-box {
  height: 45vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.inputBox {
  width: 250px;
}

.inputBox input {
  width: 100%;
  padding: 10px;
  outline: none;
  border: none;
  color: #000;
  font-size: 1em;
  background: transparent;
  border-left: 2px solid #000;
  border-bottom: 2px solid #000;
  transition: 0.1s;
  border-bottom-left-radius: 8px;
}

.inputBox span {
  margin-top: 5px;
  left: 0;
  transform: translateY(-4px);
  margin-left: 10px;
  padding: 10px;
  pointer-events: none;
  font-size: 12px;
  color: #000;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 3px;
  border-radius: 8px;
}

.inputBox input:valid~span,
.inputBox input:focus~span {
  transform: translateX(113px) translateY(-15px);
  font-size: 0.8em;
  padding: 5px 10px;
  background: #000;
  letter-spacing: 0.2em;
  color: #fff;
  border: 2px;
}

.inputBox input:valid,
.inputBox input:focus {
  border: 2px solid #000;
  border-radius: 8px;
}

.enter,
.link-button {
  height: 45px;
  width: 100px;
  border-radius: 5px;
  border: 2px solid #000;
  cursor: pointer;
  background-color: transparent;
  transition: 0.5s;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 2px;
  width: 120px;
}

.enter:hover {
  background-color: rgb(0, 0, 0);
  color: white;
}

.loginPage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  /* float: left; */
}

aside {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  float: left;
}

.background-login {
  width: 50vw;
  height: 100vh;
  background-image: url('../img/img2.jpeg');
  background-repeat: no-repeat;
  background-size: 100%;
}

/*Pagina de cadastro*/
/*----------------------------------------------------------------------*/
.singup {
  color: #000;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: x-large;
}

.icon-back {
  width: 100%;
  height: auto;
}

.icon-back img{
  cursor: pointer;
  width: 40px;
  height: auto;
}

.inputBox,
.inputBox1 {
  position: relative;
  width: 250px;
}

.inputBox input,
.inputBox1 input {
  width: 100%;
  padding: 10px;
  outline: none;
  border: none;
  color: #000;
  font-size: 1em;
  background: transparent;
  border-left: 2px solid #000;
  border-bottom: 2px solid #000;
  transition: 0.1s;
  border-bottom-left-radius: 8px;
}

.inputBox span,
.inputBox1 span {
  margin-top: 5px;
  position: absolute;
  left: 0;
  transform: translateY(-4px);
  margin-left: 10px;
  padding: 10px;
  pointer-events: none;
  font-size: 12px;
  color: #000;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 3px;
  border-radius: 8px;
}

.inputBox input:valid~span,
.inputBox input:focus~span {
  transform: translateX(113px) translateY(-15px);
  font-size: 0.8em;
  padding: 5px 10px;
  background: #000;
  letter-spacing: 0.2em;
  color: #fff;
  border: 2px;
}

.inputBox1 input:valid~span,
.inputBox1 input:focus~span {
  transform: translateX(156px) translateY(-15px);
  font-size: 0.8em;
  padding: 5px 10px;
  background: #000;
  letter-spacing: 0.2em;
  color: #fff;
  border: 2px;
}

.inputBox input:valid,
.inputBox input:focus,
.inputBox1 input:valid,
.inputBox1 input:focus {
  border: 2px solid #000;
  border-radius: 8px;
}

.signupPage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.background-cadastro {
  width: 50vw;
  height: 100vh;
  background-image: url('../img/img1.jpeg');
  background-repeat: no-repeat;
  background-size: 100%;
}

.mySlides {
  display: none;
}

.slideshow-container {
  position: relative;
}

.slideshow-container img {
  height: 70vh;
  width: 100%;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #000000;
}

.fade {
  animation-name: fade;
  animation-duration: 2.5s;
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}


/*section de contato*/
/*<------------------------------------------------------------------------------------------------------->*/

.contact-page {
  width: 50%;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#section3 {
  display: flex;
  background-color: #000;
  color: #fff;
}

.image-content {
  width: 50%;
  height: 90vh;
}

.image-content img {
  height: 90vh;
  width: 100%;
}

.contact-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-text h1 {
  font-size: 3rem;
}

.contact-text p {
  margin: 0;
  text-align: center;
  font-size: 1.25rem;
}

.divisory {
  margin: 0;
}

.icons-contact {
  display: flex;
  justify-content: space-evenly;
}

.icon-article {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 35%;
  font-size: 1.2rem;
}

.icon-article img {
  cursor: pointer;
  width: 85px;
  height: auto;
}

.link-button:hover {
  background-color: rgb(0, 0, 0);
  color: white;
}
.login-icon{
  width:50px;
  height:50px;
}


.card-about{
    height: 90vh;
    width: 100%;
    display: flex;
    background-color: #c5c5c5;
}


.content-about {
  width: 50%;
  margin-left: 46.5rem;
  margin-top: -541px;
  text-align: justify;
}

.content-about p {
  margin: 45px;
}

.image-about{
  width: 50%;
  height: 90vh;
  background-color: #c5c5c5;
}

.image-about img{
  width: 80%;
  height: 90%;
  margin-left: 50px;
  border-radius: 50%;
  margin-top: 36px;
}

.content-about h1{
    font-size: 3rem;
    margin: 45px;
}

footer{
  background-color: #000;
  height: 20vh;
}

footer img{
  height: 30px;
  width: 30px;
}